/**
Icon input
 */
.input-icon {
  position: relative;

  .form-control:not(:last-child),
  .form-select:not(:last-child) {
    padding-inline-end: 2.5rem;
  }

  .form-control:not(:first-child),
  .form-select:not(:last-child) {
    padding-inline-start: 2.5rem;
  }
}

.input-icon-addon {
  position: absolute;
  top: 0;
  bottom: 0;
  inset-inline-start: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 2.5rem;
  height: $input-height;
  color: var(--#{$prefix}icon-color);
  pointer-events: none;
  font-size: 1.2em;

  &:last-child {
  inset-inline-end: 0;
  inset-inline-start: auto;
  }
}
