.bg-white-overlay {
  color: $white;
  background-color: rgba($light, 0.24);
}

.bg-dark-overlay {
  color: $white;
  background-color: rgba($dark, 0.24);
}

.bg-cover {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
