global:
  scrape_interval: 15s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'oceanphenix-core'
    static_configs:
      - targets: ['caddy:2019', 'minio:9000', 'ollama:11434', 'qdrant:6333', 'api:8000']
